
body {
  background: url("../images/sunrock.JPG") no-repeat;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-size: 1000%;

}

h1 {
  font-family: "BioRhyme", serif;
  font-size: 6em;
  margin-top: 30px;

}

h2 {
  font-family: "Lato", serif;
  font-size: 4em;
}

p, ul, h2, .navs {
  margin: 15px;
  padding: 5px;
  font-size: 1.2em;
  line-height: 1.5em
}

ul {
  padding: 0px;
  margin: 40px;
  list-style-type: none;
}

li {
  background: url("../images/131221.svg") no-repeat;
  padding-left: 0px;
  margin:  10px auto;
  width: 35%;
  display: block;
}

.underlines {
  font-family: "Lato", serif;
  border-bottom: 2px dotted #FFFFFF;
}

.navs {
  text-decoration: none;
  font-size: 3em;
  color: inherit;
  transition-duration: 1s;
}

.navs:hover {
  color: #FF8B2A;
  font-size: 3em;
}

#insta, #tweet, #linkedin {
  height: 3.8em;
  width: 3.8em;
  margin: 0px 20px 20px 20px;
}

#dobox, #frogger {
  height: 300px;
  width: 350px;
}



footer {
  margin: 25px;
}
