
body {
  background: url("../images/sunrock.jpg") no-repeat;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-size: 1000%;

}

h1 {
  font-family: "BioRhyme", serif;
  font-size: 6em;
  margin-top: 30px;

}

h2 {
  font-family: "Lato", serif;
  font-size: 4em;
}

p, ul, li, h2, .navs {
  margin: 15px;
  padding: 5px;
  font-size: 1.2em;
  line-height: 1.5em
}

ul {
  padding-left: 0px;
  margin-left: 0px;
  list-style-type: none;
}

li {
  background: url("../images/131221.svg") left top no-repeat;
  padding-left: 0px;
  margin-left:  0px;
}

.underlines {
  font-family: "Lato", serif;
  border-bottom: 4px solid #FF8B2A;
}

.navs {
  text-decoration: none;
  font-size: 3em;
  color: inherit;
  transition-duration: 2s;
}

.navs:hover {
  color: #FF8B2A;
  font-size: 3em;
}

#insta, #tweet, #linkedin {
  height: 3.8em;
  width: 3.8em;
  margin: 0px 20px 20px 20px;
}

footer {
  margin: 25px;
}
